:root {
  --background-grey: #d8d8d8;
  --text-grey: #3b3b3b;
  --light-brown: #a57e63;
  --nice-orange: #e58d4f;
  --beige-ish: #d6c8bf;
  --nina: #d8aaaa;
}

html {
  padding: 0.5cm;
  background: var(--background-grey);
  color: var(--text-grey);
}

h1 {
  color: var(--nice-orange);
  font-family: sans-serif;
  font-size: 50px;
  font-variant: small-caps;
  align-self: start;
  margin: 20px 0px;
}

h2 {
  font-family: sans-serif;
  font-size: 30px;
  font-variant: small-caps;
  color: var(--light-brown);
}

h3 {
  font-family: sans-serif;
}

#titles {
  margin: 18px 0px;
}

#texts {
  margin-bottom: 18px;
}

.ciphertitle {
  font-family: monospace;
  font-size: 24px;
  margin: 0px;
}

.decryptedtitle {
  font-family: monospace;
  font-size: 24px;
  color: var(--light-brown);
  margin: 0px;
}

p {
  font-family: monospace;
  font-size: 22px;
}

.button {
  background-color: var(--text-grey);
  border: 2px solid var(--text-grey);
  border-radius: 15px;
  font-variant: small-caps;
  font-size: 18px;
  text-align: center;
  padding: 8px 25px;
  color: var(--beige-ish);
  margin-top: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: var(--nina);
  color: var(--text-grey);
}

#header_buttons_container {
  display: flex;
}

.header_button {
  background-color: var(--beige-ish);
  border: 2px solid var(--beige-ish);
  border-radius: 15px;
  font-variant: small-caps;
  font-size: 18px;
  text-align: center;
  padding: 6px 15px;
  color: var(--text-grey);
  margin-top: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
  margin: 0px 10px;
}

.header_button:hover {
  background-color: var(--light-brown);
  border: 2px solid var(--light-brown);
}

input[type="text"] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border: 2px solid var(--light-brown);
}

input:required:invalid {
  /*evite la bordure rouge moche par défaut du navigateur*/
  outline: none;
}

#flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

#content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#texts_container {
  max-width: 800px;
}

#texts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.word {
  display: flex;
  flex-direction: row;
}

.letter {
  display: flex;
  font-family: monospace;
  font-size: 20px;
  flex-direction: column;
  flex-basis: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.texts_letter_cipher {
  margin: 0;
}

.texts_letter_decrypted {
  padding-bottom: 10px;
  color: var(--light-brown);
}

#replace_what {
  background: var(--nina);
  border-radius: 25px;
  padding: 15px;
  font-family: sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.replace_what_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
}

#replace_what_texts {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
}

#replace_what_buttons {
  padding: 5px;
  margin: auto;
  justify-content: space-evenly;
}

#tables_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 30px;
}

.tables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  flex-grow: 1;
}

.one_table {
  display: flex;
  flex-direction: column;
}

td,
th {
  border: 1px solid var(--light-brown);
  padding: 5px;
  font-family: monospace;
  font-size: 20px;
  transition: 500ms;
}

.decrypted_letter {
  background-color: var(--beige-ish);
}

th {
  background: var(--light-brown);
  border: 1px solid var(--text-grey);
}

table {
  border-collapse: collapse;
}